@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 15px;
  font-family: "Alata", sans-serif;
  color: var(--very-dark-gray);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
}
ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: "Alata", sans-serif;
  color: var(--white);
}
img {
  width: 100%;
}
/* Header */
.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}
.header .menu-btn {
  padding: 20px;
  cursor: pointer;
}
.header .menu-btn .bar {
  width: 35px;
  height: 3px;
  background: var(--white);
  margin: 0 0 5px;
}
/*mobile - hide navbar*/
.header nav {
  display: none;
}

/* showImg*/
.show {
  background: url("./images/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
}
.show .text {
  display: flex;
  align-items: center;
  height: 700px;
  padding: 0 20px;
}
.show .text h1 {
  color: var(--white);
  font-size: 3rem;
  line-height: 1.1;
  border: solid 2px var(--white);
  padding: 20px;
}
/* Interactive */
.interactive {
  padding: 50px 20px;
  text-align: center;
}
.interactive-text {
  padding: 0 40px;
}
.interactive .interactive-text h2 {
  padding: 30px 0 20px;
  line-height: 1.2;
}
/* creations-mobile */
.creations-mobile {
  padding: 0 20px 50px;
}
.creations-mobile h2 {
  text-align: center;
  padding-bottom: 30px;
}
.creations-mobile h3 {
  padding: 0 0 20px 20px;
  position: absolute;
  bottom: 0;
  color: var(--white);
  width: 150px;
  font-size: 25px;
  line-height: 1.3;
}
.creations-mobile section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.creations-mobile article {
  position: relative;
}
.creations-mobile .btn-container {
  text-align: center;
  padding: 30px 0;
}
.creations-mobile .btn-container .btn {
  border: 2px solid var(--black);
  padding: 10px 30px;
  color: var(--black);
  text-transform: uppercase;
  cursor: pointer;
}
.creations-mobile .btn-container .btn:hover {
  background: var(--black);
  color: var(--white);
}
/* Footer */
footer {
  background: var(--black);
  color: var(--white);
  padding: 50px 0;
  text-align: center;
}
footer .logo img {
  width: auto;
  margin-bottom: 20px;
}
footer ul {
  margin-bottom: 30px;
}
footer ul li {
  margin-bottom: 20px;
}
footer .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
footer .social-icon li {
  margin-right: 20px;
  font-size: 25px;
}
footer > p {
  font-family: "Alata", sans-serif;
  color: var(--dark-gray);
  font-size: 15px;
}
