@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 15px;
  font-family: "Alata", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: "Alata", sans-serif;
  color: #fff;
}
/* Header */
.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}
.header .menu-btn {
  padding: 20px;
  cursor: pointer;
}
.header .menu-btn .bar {
  width: 35px;
  height: 3px;
  background: #fff;
  margin: 0 0 5px;
}
/*mobile - hide navbar*/
.header nav {
  display: none;
}

/* showImg*/
.show {
  background: url("./images/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
}
.show .text {
  display: flex;
  align-items: center;
  height: 700px;
  padding: 0 20px;
}
.show .text h1 {
  color: #fff;
  font-size: 3rem;
  line-height: 1.1;
  border: solid 2px #fff;
  padding: 20px;
}
